---
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props.frontmatter;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <base target="_blank" />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://raviqqe.com" />
    <meta property="og:image" content="https://raviqqe.com/icon.svg" />
    <meta property="og:description" content={description} />
    <meta name="twitter:card" content="summary" />
    <link rel="manifest" href="/manifest.json" />
    <script
      defer
      data-domain="raviqqe.com"
      src="https://plausible.io/js/plausible.js"
    ></script>
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3202545350013263"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");

  body {
    color: #333;
    font: 16px "Noto Sans", sans-serif;
    max-width: 42em;
    margin: 0 auto;
    padding: 1em;
  }

  a,
  a:visited {
    color: teal;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  @media (prefers-color-scheme: dark) {
    body {
      color: #eee;
      background-color: black;
    }

    a,
    a:visited {
      color: lightsalmon;
    }
  }
</style>
